*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
    position: fixed;
}
 img{
    width: 100px;
}

 .menu li{ 
    display: inline-block;
    margin: 0 10px;
    }

 .menu li a{
    text-transform: uppercase;
    font-size: 17px;
    font-style: normal;
    text-decoration: none;
    padding: 10px 9px;
    color: black
}
.menu li a:hover{
  background-color: cadetblue;
  border-radius: 15px;
}
 .texto{
    background: url(img/body.jpg);
    background-size: cover;
    width: full;
    height: 1000px;
    text-align: center;
    font-family: Arial;
    color:rgb(123, 19, 221)
    }
    
    .footer {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(241, 233, 233);
        height: 200px;
        background-color: rgb(97, 97, 124);
        justify-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
     }

        .imagem{
            mix-blend-mode: multiply;
            height: 30px;
            width: 30px;
        }
.logo1 {
    width: auto;
mix-blend-mode:multiply ;
height: 120px;
left: 200px;
top: 200px;
}
