*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
    position: fixed;
}
 img{
    width: 100px;
}

 .menu li{ 
    display: inline-block;
    margin: 0 10px;
    }

 .menu li a{
    text-transform: uppercase;
    font-size: 17px;
    font-style: normal;
    text-decoration: none;
    padding: 10px 9px;
    color: black
}
.menu li a:hover{
  background-color: cadetblue;
  border-radius: 15px;
}

.contato{
    background-color: rgb(151, 151, 218);
    width: full;
    height: 700px;
    text-align: center;
}

footer{
    width: 100%;
    background-color: rgb(172, 172, 238);
    justify-content: space-between;
    display: flex;
    align-items: top;
    padding: 0px 0;
    color:black
   }
.image{
   width: auto;
   mix-blend-mode:multiply ;
   height: 100px;
   left: 200px;
   top: 200px;
   }